[Unit]
Description=Qiskit documentation main application
After=network.target
Wants=qiskit-search.service

[Service]
Type=simple
User=qiskit
Group=qiskit
Environment="HOSTNAME=127.0.0.1"
Environment="PORT=9192"
WorkingDirectory=/srv/qiskit/documentation
ExecStart=/srv/qiskit/documentation/app.sh
Restart=always

[Install]
WantedBy=multi-user.target
